.header__menu {
    display: flex;
    margin: auto;
    max-width: 1300px;
    padding-top: 19px;
    align-items: center;
    justify-content: space-between;
    color: #666666;
    padding: 0;
}

@media screen and (max-width: 1473px)  {
    .header__menu {
        margin: auto 86px;
    }
}

@media screen and (max-width: 1016px)  {
    .header__menu {
        margin: auto 44px;
    }
}

@media screen and (max-width: 650px)  {
    .header__menu {
        margin: auto 20px;
    }
}