.content__card-two {
    grid-area: card-1;
    background: linear-gradient(89.88deg, rgba(18, 18, 18, 0.6) 0.09%, rgba(0, 0, 0, 0) 99.89%), url(/images/image-two.png), #D9D9D9;
    position: relative;
    width: 424px;
    height: 250px;
}

@media screen and (max-width: 1473px)  {
    .content__card-two {
        width: 100%;
        max-height: 233px;
    }
}