.header__button {
    display: inline-block;
    width: 204px;
    height: 40px;
    background-color: #0B457F;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: .5s;
    letter-spacing: 0.4px;
}

.header__button:hover {
    background-color: #006CD8;
}

.header__button:active {
    background-color: #006CD8;
}

@media screen and (max-width: 1473px)  {
    .header__button {
        width: 199px;
        padding: 0;
    }
}

@media screen and (max-width: 647px)  {
    .header__button {
        display: none;
    }
}