.content__image-bgimg {
    background-image: url(../../../images/Bgimg.png);
    position: absolute;
    left: 12px;
    bottom: 13px;
    width: 400px;
    height: 192px;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1473px)  {
    .content__image-bgimg {
        background-image: url(../../../images/bg-small.png);
        top: auto;
        left: auto;
        right: 6px;
        bottom: 0;
        width: 217px;
        height: 93px;
    }
}

@media screen and (max-width: 920px)  {
    .content__image-bgimg {
        background-image: url(../../../images/bgimgSmall.png);
        top: auto;
        left: auto;
        right: 20px;
        width: 287px;
        height: 123px;
    }
}

@media screen and (max-width: 574px)  {
    .content__image-bgimg {
        opacity: .3;
    }
}

@media screen and (max-width: 450px)  {
    .content__image-bgimg {
        background-image: url(../../../images/bgES.png);
        top: auto;
        left: auto;
        right: 8px;
        width: 149px;
        height: 68px;
        opacity: 1;
    }
}