.content__card-one {
    grid-area: card;
    background: linear-gradient(89.88deg, rgba(18, 18, 18, 0.6) 0.09%, rgba(0, 0, 0, 0) 99.89%), url(../../../images/image-one.png), #D9D9D9;
    width: 424px;
    height: 512px;
}

@media screen and (max-width: 1473px)  {
    .content__card-one {
        width: 100%;
        max-height: 233px;
    }
}